In [2]:
# Declare an integer variable `age` with the value 25.
age=int(25)

In [3]:
# Create a string variable `name` with your name as its value.
name='Sampad'

In [4]:
# Declare a list variable `fruits` containing three fruit names of
# your choice.
fruits=['Apple','Banana','Mango']

In [6]:
# Write code to swap the values of two variables, `a` and `b`,
# without using a temporary variable
a=int(input("enter the first number: "))
b=int(input("enter the second number: "))
a,b=b,a
print(a)
print(b)

enter the first number: 1
enter the second number: 2
2
1

In [7]:
# Create a float variable `price` with the value 19.99
price=float(19.99)

In [8]:
# Define a boolean variable `is_student` and set it to `True`.
is_student=True

In [9]:
# Create a tuple variable `coordinates` that stores the latitude
# and longitude of a location (e.g., (40.7128, -74.0060)).
coordinates=(40.7128,-74.0060)

In [12]:
# Declare a dictionary variable `student` with keys "name" and
# "age" and set their values accordingly.
student={
    'name':['sampad','santu','panda','pradip'],
    'age': [21,22,23,24]
}

In [13]:
# Write a Python program that calculates the area of a circle with
# a given radius. Use a variable `radius` to store the radius value.
radius=int(input("enter the radius: "))
pi=22/7
print(f"the area of circle is {pi*radius*radius}")

enter the radius: 7
the area of circle is 154.0

In [16]:
# Create a list variable `numbers` containing integers from 1 to
# 10 using list comprehension.
numbers=[i for i in range(1,11)]
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [18]:
# Define a variable `is_valid` and set it to `False`. Then write
# code to toggle its value to `True`.
is_valid=False
is_valid= not is_valid
print(is_valid)

True

In [19]:
# Declare a string variable `sentence` with a sentence of your
# choice.
sentence='hello world'

In [21]:
# Write a program that calculates the sum of all numbers from 1
# to 100 using a variable `total_sum`.
total_sum=0
for i in range(101):
  total_sum+=i
print(total_sum)

5050

In [22]:
# Create a list variable `grades` containing five test scores as
# floating-point numbers.
grades=[8.2,7.4,9.7,8.4,6.1]

In [23]:
# Define a variable `greeting` and assign it the value "Hello,
# World!".
greeting='Hello World'

In [24]:
# Declare a tuple variable `months` containing the names of the
# twelve months of the year
months=('January','February','March','April','May','June','July','August','September','October','November','December')

In [25]:
# Write code that increments an integer variable `counter` by 1
# and then prints its value.
counter=0
counter+=1
print(counter)

1

In [32]:
# Create a dictionary variable `book` with keys "title", "author",
# and "year" to store information about a book.
book={
    'title':['x','y','z'],
    'author':['a','b','c'],
    'year':[2001,2012,2008,2009]
}
print(book)

{'title': ['x', 'y', 'z'], 'author': ['a', 'b', 'c'], 'year': [2001, 2012, 2008, 2009]}

In [33]:
# Define a variable `pi` and assign it the value of the
# mathematical constant Ï€ (pi).
pi=22/7

In [34]:
# Declare a list variable `colors` containing the names of five
# different colors.
colours=['red','black','green','blue','yellow']

In [35]:
# Write a program that calculates the area of a rectangle using
# variables `length` and `width`.
length=int(input("enter the length: "))
width=int(input("enter the width: "))
print(f"the area of rectangle is {length*width}")

enter the length: 12
enter the width: 11
the area of rectangle is 132

In [37]:
# Create a dictionary variable `person` with keys "first_name"
# and "last_name" to store a person's name.
person={
    'first_name':['sam','tom','oggy','jerry'],
    'last_name':['x','y','z']
}

In [39]:
# Define a variable `temperature` and assign it a value in
# Celsius. Convert it to Fahrenheit and store the result in another
# variable.
temp_cel=int(input("enter the temperature in celsius: "))
temp_far=(temp_cel*9/5)+32
print(f"the temperature in fahrenheit is {temp_far}")

enter the temperature in celsius: 100
the temperature in fahrenheit is 212.0

In [40]:
# Write code that appends a new item to a list named
# 'shopping_list'.
shopping_list=['rice','potato','lentels','egg']
shopping_list.append('milk')
print(shopping_list)

['rice', 'potato', 'lentels', 'egg', 'milk']

In [42]:
# Declare a variable `is_raining` and set it to `True`. Then write
# code to change its value to `False`.
is_raining=True
is_raining= not is_raining
print(is_raining)

False

In [43]:
# Write a Python program that takes an integer as input and
# converts it to a float.
a=int(input("enter the integer:"))
print(float(a))

enter the integer:12
12.0

In [46]:
# Create a program that prompts the user for their age as a
# string, converts it to an integer, and then checks if they are
# eligible to vote (18 or older).
age=str(input("enter the age:"))
if int(age)>=18:
  print("eligible to vote")
else:
  print("not eligible to vote")

enter the age:12
not eligible to vote

In [47]:
# Write code to convert a float to an integer and round it to the
# nearest whole number.
a=float(input("enter the float:"))
print(round(a))

enter the float:12.697777
13

In [48]:
# Create a program that takes a user-provided string, converts it
# to lowercase, and checks if it contains the word "python."
string=str(input("enter the string: "))
if 'python' in string.lower():
  print("yes")
else:
  print("no")

enter the string: python is a
yes

In [49]:
# Write a program that takes a user-provided string containing a
# number (e.g., "42") and converts it to an integer

In [52]:
# Create a Python script that converts a list of integers into a list
# of strings.
a=[1,2,3,4,5]
print(a)
a=str(a)
print(a)

[1, 2, 3, 4, 5]
[1, 2, 3, 4, 5]

In [55]:
# Write a program that calculates the area of a triangle using
# user-provided string inputs for the base and height. Convert these
# strings to floats for the calculation.
base=input("enter the base: ")
height=input("enter the height:")
print(f"the area of triangle is {0.5*float(base)*float(height)}")

enter the base: 12
enter the height:11
the area of triangle is 66.0

In [57]:
# Create a program that takes a user-provided number in string
# format and converts it to a binary number in integer form.

In [61]:
#  Write code that converts a list of strings representing numbers
# (e.g., ["3", "5", "7"]) into a list of integers.
a = ["3", "5", "7"]
converted_list = [int(i) for i in a]
print("Original list:", a)
print("Converted list:", converted_list)

Original list: ['3', '5', '7']
Converted list: [3, 5, 7]

In [62]:
# Create a program that takes a user-provided string containing
# a decimal number (e.g., "3.14") and converts it to a float.
a=input("enter the decimal number: ")
print(float(a))

enter the decimal number: 10.23
10.23